body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
/* Navbar Hover */
#hoverEffect:hover {
    background-color: #ccc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Hero Section */
#heroSection {
    background-image: url("/Images/hamburger.jpg");
    min-height: 100vh;
}