body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
/* Navbar Hover */
#hoverEffect:hover {
    background-color: #ccc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Hero Section */
#heroSection {
    background-image: url(".../Images/hamburger.jpg");
    min-height: 100vh;
    letter-spacing: 5px;
}
/* About Section */
#textHead {
    letter-spacing: 5px;
}
#descriptionText {
    text-align: justify;
    font-size: 20px;
}
/* Our Menu */
#textMenu {
    font-size: 15px;  
}
/* Footer */
.textFooter {
    letter-spacing: 5px;
}
.textFont {
    font-size: 15px;  
}
.colorText {
    color: #607d8b!important;
}
.form-control {
    border: none  !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0%;
    font-size: 15px;
}
label {
    font-size: 15px;
    opacity: 0.7;
}
.btn {
    border-radius: 0%;   
}