body {
    font-family: 'Times New Roman', Times, serif !important;
}
/* Hero Section */
#links {
    text-decoration: none;
    margin-left: 20px;
}
/* Image Section */
#imageSection {
    background-image: url("../Images/header.avif");
    min-height: 80vh;
    width: 80%;
    margin-top: 20px;
    margin-left: 130px;
    background-size: cover;
    background-repeat: no-repeat;
}
#textImage {
    font-size: 90px;
    color: #fd5948;
}