body {
    font-family: "Raleway", sans-serif !important;
    font-size: 15px !important;
    line-height: 1.5;
}
/* Nav Bar */
nav {
    opacity: 0.5;
}
#hoverEffect:hover {
    background-color: lightgrey !important;
}
.bgBlack:hover {
    background-color: black !important;
    color: white !important;
}
/* Hero Section */
#heroSection {
    background-image: url("../Images/wedding_couple.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);
}
#titleText {
    font-size: 75px !important;
}
/* Background Color */
.bgColor {
    background-color: #ffdddd !important;
    filter: grayscale(50%);
}
/* jhan & John Section */
#janeJohnsection {
    filter: grayscale(50%);
}
.descriptionText {
    font-style: italic;
    line-height: 2;
    font-size: 15px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}
.btn {
    background-color: black !important;
    color: white !important;
    border-radius: 0%;
}
.btn:hover {
    background-color: lightgrey !important;
    color: black !important;
}
/* Invited Section */
#invitiedSection {
    background-image: url("../Images/flowers.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* The Wedding */
#theWedding {
    filter: grayscale(50%);
}
.colorText {
    color: gray !important;
}
/* Footer */
#footerText {
    background-color: #ffdddd !important;
}