body {
    font-family: "Raleway", sans-serif !important;
    font-size: 15px !important;
    line-height: 1.5;
}
/* Nav Bar */
nav {
    opacity: 0.5;
}
#hoverEffect:hover {
    background-color: lightgrey !important;
}
.bgBlack:hover {
    background-color: black !important;
    color: white !important;
}
/* Hero Section */
#heroSection {
    background-image: url("../Images/wedding_couple.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);
}
#titleText {
    font-size: 75px !important;
}
/* jhan & John Section */
#janeJohnsection {
    background-color: #ffdddd !important;
    filter: grayscale(50%);
}
